<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>FT - Select Battery Number</title>
</head>
<body>
    <div class="container">
        <h1>Select Battery Number for {{ model }}</h1>
		<br>
        <form action="{{ url_for('report_battery_issue') }}" method="get">
            <input type="hidden" name="model" value="{{ model }}">
            <label for="number">Choose Battery Number:</label>
            <select id="number" name="number">
                <!-- Battery numbers will be dynamically populated using JavaScript -->
            </select>
            <button type="submit" class="large-button">Next</button>
        </form>
		<br><br>
		<button class="back-button" onclick="history.back()" class="large-button">Go Back</button>
    </div>

    <script>
        // Populate battery numbers based on selected model
        const model = "{{ model }}";
        const numberDropdown = document.getElementById("number");

        if (model === "Toyota") {
            for (let i = 1; i <= 30; i++) {
                const option = document.createElement("option");
                option.value = `TB${i}`;
                option.text = `TB${i}`;
                numberDropdown.appendChild(option);
            }
        } else if (model === "Still") {
            for (let i = 1; i <= 30; i++) {
                const option = document.createElement("option");
                option.value = `SB${i}`;
                option.text = `SB${i}`;
                numberDropdown.appendChild(option);
            }
        }
    </script>
</body>
</html>
