<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>FT - Select Issue Type</title>
</head>
<body>
    <div class="container">
        <h1>Select Issue Type</h1>
		<br>
        <div class="button-container">
            <!-- Button for Forklift Issues -->
            <a href="{{ url_for('report_page') }}" class="large-button">Forklift Issues</a>

            <!-- Button for Battery Issues -->
            <a href="{{ url_for('battery_issue_model_selection') }}" class="large-button">Battery Issues</a>

        </div>
		<br><br>
		<button class="back-button" onclick="history.back()" class="large-button">Go Back</button>
    </div>
</body>
</html>
