<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>FT - Report Issue</title>
</head>
<body>
    <div class="container">
        <h1>Report Battery Issue for {{ model }} {{ number }}</h1>
		<br>
        <form action="{{ url_for('confirm_page') }}" method="get">
            <input type="hidden" name="model" value="{{ model }}">
            <input type="hidden" name="number" value="{{ number }}">
            <input type="hidden" id="issueType" name="issue" value="">

            <div class="button-container">
                <button type="button" class="issue-button" id="shakingBtn" onclick="selectIssue('Shaking', 'shakingBtn')">Shaking</button>
                <button type="button" class="issue-button" id="scannerBtn" onclick="selectIssue('Scanner', 'scannerBtn')">Scanner</button>
                <button type="button" class="issue-button" id="terminalBtn" onclick="selectIssue('Terminal', 'terminalBtn')">Terminal</button>
                <button type="button" class="issue-button" id="damageBtn" onclick="selectIssue('Damage', 'damageBtn')">Damage</button>
                <button type="button" class="issue-button" id="lightsBtn" onclick="selectIssue('Lights', 'lightsBtn')">Lights</button>
                <button type="button" class="issue-button" id="printerBtn" onclick="selectIssue('Printer', 'printerBtn')">Printer</button>
                <button type="button" class="issue-button" id="forkliftErrorBtn" onclick="selectIssue('Forklift Error', 'forkliftErrorBtn')">Forklift Error</button>
                <button type="button" class="issue-button" id="otherBtn" onclick="selectIssue('Other', 'otherBtn')">Other</button>
            </div>
			<br>

            <label for="description"></label>
			<br>
            <textarea id="description" name="description" rows="10" placeholder="Describe the issue..."></textarea>
			<br><br>
			<button type="submit" class="large-button">Confirm</button>
        </form>
		<br><br>
		<button class="back-button" onclick="history.back()" class="large-button">Go Back</button>
    </div>

    <script>
        function selectIssue(issue, buttonId) {
            document.getElementById("issueType").value = issue;
            let selectedButton = document.querySelector('.issue-button.selected');
            if (selectedButton) selectedButton.classList.remove("selected");
            document.getElementById(buttonId).classList.add("selected");
        }
    </script>
</body>
</html>
